# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/server/start.jar

#System Files
.DS_Store
Thumbs.db
debug.log
local.log

*.out
*.err
*.iml
/.gradle
